body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color: #000;
}

strong{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}

p {

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}

input{
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    width: 215px;
    height: 28px
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

video{
    width: calc(100% - 4px);
    height: 100%;
    margin-left: 2px;
}


.conteudo-header{
    display: flex;
    width: 935px;
    height: 54px;
    justify-content: space-between;
}

.logo, .campo, .icones{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: left;
}


.logo ion-icon{
    font-size: 22px;
}


.icones{
    justify-content: space-between;
    align-items: center;
}

.icones ion-icon{
    font-size: 22px;
}


.logo, .icones{
    width:148px;
}

.divisao-vertical {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin-left: 11.38px;
    margin-right:10px
}

.icones{
    display: flex;
}


.icones a{
    height: 22px;
    width: 22px;
    margin: 0 20 0 20;
}



.conteudo{
    width: 935px;
    display: flex;
    margin: 88px auto;
    position: relative;
    

}





.sidebar{
    position: absolute;  
    width: 292px;
    height: 466px;
    right: 0px;
    top: 0px;
}


.seguir{
    font-size: 12px;
    color: #139EF2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
}

.perfil-sidebar{
    height: 102px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.nome-perfil-sidebar{
    height:34px;
    margin-left: 17px;
}

.perfil-sidebar img{
height: 56px;
width: 56px;
border-radius:50%;
}

.tapa-stories{
    width: 50px;
    height: 120px;
    position: absolute;
    background-color: #E5E5E5;
    left: 614px;
    top: 0px;
}

.sugestoes{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 15px;
    margin-bottom: 17px;
}

.perfil-sugestao{
    height:32px;
    margin-bottom:16px;
    display: flex;
    align-items:center;
}

.perfil-sugestao img{
    height: 32px;
    width: 32px;
    border-radius:50%;
}

.segue-voce{
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #8E8E8E;
}

.perfil-sugestao div{
    height: 31px;
    width: 143px;
    margin: 1px 70px 0px 11px;
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: space-between;

}
.div-ajuda{
    margin-top:18px;
    margin-bottom: 18px;    
}


.ajuda{
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    

color: #C7C7C7;


}

.instagram-2021{
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #C7C7C7;


}

.stories-box{
    height: 118px;
    width: 614px;
    margin-bottom: 24px;
    display: flex;
    align-items: top;

    position: relative;
    
    flex-wrap: nowrap;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}
    

.stories-box > :first-child{
    width: 18px;
    border: none;
    margin-right: 18px;
}


.stories-box > div:nth-child(n+2){
    width: 66px;
    height: 86px;
    margin-top: 18px;
    margin-right: 14px;
}

.bakground-story{
    position: relative;
}

.background-story > img{
width: 66px;
height: 66px;
}

.img-story{
    position: absolute;
    top: 5px;
    left: 5px;
}

.img-story img{
width: 56px;
height: 56px;
border-radius: 50%;
}

.nome-story{
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: center;

color: #262626;
}

.btn{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    top: 46px;
    
}


.post{
    display: flex;
    flex-direction: column;
    width:614px;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    border-radius: 3px; 
}

.cabecalho-post{
    align-items: center;
    display: flex;
    height: 61px;
}

.foto-post{
    height: 32px;
    width: 32px;
    margin: 15px 15px 14px 17px;
}

.foto-post img{
    height: 32px;
    width: 32px;
    border-radius: 50%;

}


.perfil-post{
    width: 109px;
    height: 21px;
    margin: 21px 408px 19px 0px;
}

.pontos3{
    height: 16px;
    width: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
    color: #000000;
}

.media-post{
    margin-left: 1px;
    height:612px;
    width:612px;
}

.media-post-video{

    width: 100%;
}



.media-post img{
    height:612px;
    width:612px;
}

.icone-post{
    display: flex;
    height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.icone-esquerda-post{
    width: 92px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 476px;
}

.icone-esquerda-post a{
    height: 22px;
    width: 22px;
}

.icone-esquerda-post ion-icon{
    font-size:  24px;
}

.salvar{
    font-size: 22px;
}

.curtidas-post{
    display: flex;
    height: 21px;
    margin-bottom: 13px;
    background-color: #FFFFFF;
    align-items: center;
}

.img-curtidas-post{
margin-left: 17px;
margin-right: 5px;
}

.img-curtidas-post img{
    height: 20px;
    width: 20px;
    
    border-radius: 10px;
}

@media (min-width: 936px) {

    footer{
        display: none;
    }
    
}

@media (max-width: 935px) and (min-width:615px){
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 614px;
    }
    
    .sidebar{
        display: none;
    }

    footer{
        display: none;
    }
}

@media (max-width: 614px) {

    .feed{
        width: 100vw;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 54px;
    }

    .post{
        width:100%;
    }

    .cabecalho-post{
        width: 100%;
        position: relative;
    }

    .media-post {
        height: 100vw;
        width: 100%;
    }

    .media-post :nth-child(n+1){
        width: 100vw;
        height: 100vw;
    }

    .sidebar{
        display: none;
    }

    .stories-box{
        background-color: #E5E5E5;
        border: none;
        margin-bottom: 0px;
        overflow-x:hidden;
        width: 100%;
    }

    .tapa-stories{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 34px;
        width: 100%;
        border-bottom: 1px solid #DBDBDB;
        height: 54px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 1;
    }

    .icones{
        width:22px;
        margin-right: 16px;
    }

    .icones a:nth-child(n + 2 ){
        display: none;
        margin: 0px;
    }

    .divisao-vertical{
        display: none;
    }

    .campo {
        display: none;
    }

    .logo{
        margin-left: 20px;
    }

    .perfil-post{
        width: 109px;
        height: 21px;
        margin: 21px 0 19px 0px;
    }

    .pontos3{
        position: absolute;
        right:17px;

    }

    .post{
        height: calc(137px + 100vw);
    }

    .icone-esquerda-post{
        margin-right: 0px;
    }

    footer{
        background-color: #FFFFFF;
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 54px;
    }

    .footer-icons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .footer-icons ion-icon{
        font-size: 22px;
    }

    .footer-icons :first-child {
        margin-left: 3.10%;
    }

    .footer-icons :last-child {
        margin-right: 3.10%;
    }

    .logo-escrito{
        left: calc(50% - 51px);
        position: absolute;
        margin-left: 0px;
        top: 15px;
    }


    .icone-post{
        position: relative
    }

    .salvar{
        position: absolute;
        right: 16px;
    }

    .btn{
        display: none;
    }
}